{% extends "homepage/layout.html" %}
{% load static %}


{% block body %}
<!-- Main Titles -->
    <div class="title">
        <h2>Charlie Eikås &#127918;</h2>
        <h3>Game Developer</h3>
    </div>

    <!-- SIDEBAR INFO BUT FOR PHONE -->
    <div id="social-container">
        <li class="social-item">
            <a class="social-link" href="https://github.com/TheKingChu">
                <button><i class="fa-brands fa-github"></i></button>
            </a>
        </li>
        <li class="social-item">
            <a class="social-link" href="https://thekingcharlie.itch.io/">
                <button><i class="fa-brands fa-itch-io"></i></button>
            </a>
        </li>
        <li class="social-item">
            <a class="social-link" href="https://www.linkedin.com/in/charlieeik%C3%A5s/">
                <button><i class="fa-brands fa-linkedin"></i></button>
            </a>
        </li>
        <li class="social-item">
            <a class="social-link" href="{% static 'homepage/CV.pdf' %}" target="_blank">
                <button><i class="fa-regular fa-file"></i></button>
            </a>
        </li>
        <li class="social-item">
            <a class="social-link" href="mailto:eikascharlie@gmail.com">
                <button><i class="fa-regular fa-envelope"></i></button>
            </a>
        </li>
    </div>

    <!-- WHAT IM CURRENTLY WORKING ON -->
    <div id="current-work">
        <h4 class="smaller-titles">Currently Working On:</h4>
        <div class="project-status">
            <span class="status-icon-active"></span>
            <p class="status-text">Crypt of Damnation: Unleash the Curse using C#, Unity and Aseprite</p>
        </div>
        <div class="project-status">
            <span class="status-icon-active"></span>
            <p class="status-text">Spotify Playlist Generator using Django and Spotipy</p>
        </div>
        <div class="project-status">
            <span class="status-icon-active"></span>
            <p class="status-text">Taking the CS50W course from Harvard</p>
        </div>
    </div>

    <!-- TECHNOLOGIES I USE -->
    <div>
        <h4 class="smaller-titles">Technologies:</h4>
        <ul id="tech-container">
            <li class="tech-item"><i class="fa-brands fa-html5" data-tooltip="HTML"></i> HTML</li>
            <li class="tech-item"><i class="fa-brands fa-css3-alt" data-tooltip="CSS"></i> CSS</li>
            <li class="tech-item" id="csharp"><i data-tooltip="C#"></i>C#</li>
            <li class="tech-item"><i class="fa-brands fa-python" data-tooltip="Python"></i> Python</li>
            <li class="tech-item" id="django"><i data-tooltip="Django"></i>Django</li>
            <li class="tech-item"><i class="fa-brands fa-unity" data-tooltip="Unity"></i> Unity</li>
        </ul>
    </div>

    <!-- ABOUT ME SECTION -->
    <div>
        <h4 class="smaller-titles">About Me:</h4>
        <p>A passionate game developer with a Bachelor's degree in Games and Entertainment Technology.</p>
    </div>
    <h4 class="smaller-titles">Projects:</h4>

    <!-- FIRST PROJECT CARD -->
    <div class="project-card">
        <div class="project-image">
            <img src="{% static 'homepage/agod.png' %}" alt="Project Image">
        </div>
        <div class="project-details">
            <h3 class="project-title">A God's Draw</h3>
            <ul class="project-points">
                <li><i class="fa-solid fa-check"></i> Created the randomized map</li>
                <li><i class="fa-solid fa-check"></i> Created the reward system and scene design</li>
                <li><i class="fa-solid fa-check"></i> Created the saving system</li>
            </ul>
            <div class="project-buttons">
                <a href="https://github.com/TheKingChu/A-Gods-Draw">
                    <button class="button">GitHub</button>
                </a>
                <a href="https://thekingcharlie.itch.io/a-gods-draw">
                    <button class="button">Itch.io</button>
                </a>
                <a href="{% url 'agodsdraw' %}">
                    <button class="read-me">Read Me <i class="fa-solid fa-lock-open"></i></button>
                </a>
            </div>
        </div>
    </div>
    <!-- SECOND PROJECT CARD -->
    <div class="project-card">
        <div class="project-image">
            <img src="{% static 'homepage/ne_cover.png' %}" alt="Project Image">
        </div>
        <div class="project-details">
            <h3 class="project-title">Negative Effect</h3>
            <ul class="project-points">
                <li><i class="fa-solid fa-check"></i> Created the main VR mechanics</li>
                <li><i class="fa-solid fa-check"></i> Created the wrist menu</li>
                <li><i class="fa-solid fa-check"></i> Made a lot of prototypes for testing</li>
            </ul>
            <div class="project-buttons">
                <a href="https://github.com/TheKingChu/Negative-effect">
                    <button class="button">GitHub</button>
                </a>
                <a href="https://nicrus.itch.io/negative-effect">
                    <button class="button">Itch.io</button>
                </a>
                <a href="{% url 'negativeeffect' %}">
                    <button class="read-me-locked">Read Me <i class="fa-solid fa-lock"></i></button>
                </a>
            </div>
        </div>
    </div>
    <!-- THIRD PROJECT CARD -->
    <div class="project-card">
        <div class="project-image">
            <img src="{% static 'homepage/omd_cover.png' %}" alt="Project Image">
        </div>
        <div class="project-details">
            <h3 class="project-title">One More Door</h3>
            <ul class="project-points">
                <li><i class="fa-solid fa-check"></i> Created mechanics for phone inputs</li>
                <li><i class="fa-solid fa-check"></i> Vector art made in Adobe Illustrator</li>
                <li><i class="fa-solid fa-check"></i> Helped on level/puzzle designs</li>
            </ul>
            <div class="project-buttons">
                <a href="https://github.com/TheKingChu/One-more-door">
                    <button class="button">GitHub</button>
                </a>
                <a href="https://nicrus.itch.io/one-more-door">
                    <button class="button">Itch.io</button>
                </a>
                <a>
                    <button class="read-me-locked">Read Me <i class="fa-solid fa-lock"></i></button>
                </a>
            </div>
        </div>
    </div>

    <!-- CHECK OUT MORE PROJECTS -->
    <div>
        <button>
            <a href="">Check Out More Projects</a>
        </button>
    </div>
{% endblock %}