{% extends "homepage/layout.html" %}
{% load static %}

{% block body %}
    <div class="title">
        <h2 style="font-size:100px">Charlie Eikås &#128640;</h2>
        <h3>Game Developer</h3>
    </div>

    <video width="640" height="480" autoplay muted>
        <source src="{% static 'homepage/showreelTest1.mp4' %}" type="video/mp4">
    </video>

    <!-- WHAT IM CURRENTLY WORKING ON -->
    <div id="current-work">
        <h4 class="smaller-titles">Currently Working On:</h4>
        <div class="project-status">
            <span class="status-icon-active"></span>
            <p class="status-text">Crypt of Damnation: Unleash the Curse using C#, Unity and Aseprite</p>
        </div>
        <div class="project-status">
            <span class="status-icon-active"></span>
            <p class="status-text">Spotify Playlist Generator using Django and Spotipy</p>
        </div>
        <div class="project-status">
            <span class="status-icon-active"></span>
            <p class="status-text">Taking the CS50W course from Harvard</p>
        </div>
    </div>

    <!-- TECHNOLOGIES I USE -->
    <div>
        <h4 class="smaller-titles">Technologies:</h4>
        <ul id="tech-container">
            <li class="tech-item">HTML</li>
            <li class="tech-item">CSS</li>
            <li class="tech-item">C#</li>
            <li class="tech-item">Python</li>
            <li class="tech-item">Django</li>
            <li class="tech-item">Unity</li>
        </ul>
    </div>

    <!-- ABOUT ME SECTION -->
    <div>
        <h4 class="smaller-titles">About Me:</h4>
        <p>A passionate game developer with a Bachelor's degree in Games and Entertainment Technology.</p>
    </div>
    <h4 class="smaller-titles">Projects:</h4>

    <!-- FIRST PROJECT CARD -->
    <div class="project-card">
        <div class="project-image">
            <img src="{% static 'homepage/agod.png' %}" alt="Project Image">
        </div>
        <div class="project-details">
            <h3 class="project-title">A God's Draw</h3>
            <ul class="project-points">
                <li>Created the randomized map</li>
                <li>Created the reward system and scene design</li>
                <li>Created the saving system</li>
            </ul>
            <div class="project-buttons">
                <a href="https://github.com/TheKingChu/A-Gods-Draw">
                    <button class="button">GitHub</button>
                </a>
                <a href="https://thekingcharlie.itch.io/a-gods-draw">
                    <button class="button">Itch.io</button>
                </a>
                <a>
                    <button style='font-size:24px;' class="read-me">Read Me &#128274;</button>
                </a>
            </div>
        </div>
    </div>
    <!-- SECOND PROJECT CARD -->
    <div class="project-card">
        <div class="project-image">
            <img src="{% static 'homepage/negative.png' %}" alt="Project Image">
        </div>
        <div class="project-details">
            <h3 class="project-title">Negative Effect</h3>
            <ul class="project-points">
                <li>Created the main VR mechanics</li>
                <li>Created the wrist menu</li>
                <li>Made a lot of prototypes for testing</li>
            </ul>
            <div class="project-buttons">
                <a href="https://github.com/TheKingChu/Negative-effect">
                    <button class="button">GitHub</button>
                </a>
                <a href="https://nicrus.itch.io/negative-effect">
                    <button class="button">Itch.io</button>
                </a>
                <a>
                    <button style='font-size:24px;' class="read-me">Read Me &#128274;</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}