{% extends "homepage/layout.html" %}
{% load static %}

{% block body %}
    <a href="{% url 'index' %}">
        <button id="back-button"><i class="fa-solid fa-left-long"></i></button>
    </a>

    <div class="more-projects-row">
        <div class="more-projects-column">
            <div class="more-projects-card">
                <div class="carousel-container" data-project="playlistgenerator">
                    <button class="carousel-prev" onclick="prevImage(this)"><i class="fa-solid fa-square-caret-left"></i></button>
                    <img src="{% static 'homepage/playlistgenerator.png' %}" alt="Playlist generator homepage">
                    <button class="carousel-next" onclick="nextImage(this)"><i class="fa-solid fa-square-caret-right"></i></button>
                </div>
                <h3>Playlist Generator</h3>
                <ul>
                    <li>Integrating Spotify's API</li>
                    <li>Generates based on genre or vibe</li>
                </ul>
            </div>
        </div>
        <div class="more-projects-column">
            <div class="more-projects-card">
                <div class="carousel-container" data-project="pomodoro">
                    <button class="carousel-prev" onclick="prevImage(this)"><i class="fa-solid fa-square-caret-left"></i></button>
                    <img src="{% static 'homepage/pomodoro.png' %}" alt="Pomodoro App">
                    <button class="carousel-next" onclick="nextImage(this)"><i class="fa-solid fa-square-caret-right"></i></button>
                </div>
                <h3>Pomodoro App</h3>
                <ul>
                    <li>Space themed pomodoro app</li>
                    <li>Gamification of productivity</li>
                    <li>Still adding more functionality</li>
                </ul>
            </div>
        </div>
        <div class="more-projects-column">
            <div class="more-projects-card">
                <div class="carousel-container" data-project="crypt">
                    <button class="carousel-prev" onclick="prevImage(this)"><i class="fa-solid fa-square-caret-left"></i></button>
                    <img src="{% static 'homepage/crypt4.png' %}" alt="Crypt gameplay" class="carousel-image">
                    <button class="carousel-next" onclick="nextImage(this)"><i class="fa-solid fa-square-caret-right"></i></button>
                </div>
                <h3>Crypt of Damnation: Unleash the Curse</h3>
                <ul>
                    <li>Rougelite game</li>
                    <li>Focus on enemy AI, player interaction, design</li>
                    <li>I'm making all the art and animations</li>
                </ul>
            </div>
        </div>
        <div class="more-projects-column">
            <div class="more-projects-card">
                <div class="carousel-container" data-project="kognito">
                    <button class="carousel-prev" onclick="prevImage(this)"><i class="fa-solid fa-square-caret-left"></i></button>
                    <img src="{% static 'homepage/kognito.png' %}" alt="Kognito homepage">
                    <button class="carousel-next" onclick="nextImage(this)"><i class="fa-solid fa-square-caret-right"></i></button>
                </div>
                <h3>Kognito</h3>
                <ul>
                    <li>Made for my girlfriends exam project</li>
                    <li>Made by following design file and adding functionality</li>
                    <li>Made in 3 days</li>
                </ul>
            </div>
        </div>
        <div class="more-projects-column">
            <div class="more-projects-card">
                <div class="carousel-container" data-project="pythonquiz">
                    <button class="carousel-prev" onclick="prevImage(this)"><i class="fa-solid fa-square-caret-left"></i></button>
                    <img src="{% static 'homepage/pythonquizgame.png' %}" alt="Python Quiz Game">
                    <button class="carousel-next" onclick="nextImage(this)"><i class="fa-solid fa-square-caret-right"></i></button>
                </div>
                <h3>Python Quiz Game</h3>
                <ul>
                    <li>Utilizes PyGame for GUI</li>
                    <li>CSV file containing the questions, choices, answers and images</li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        const images = {
            "playlistgenerator": [
                "{% static 'homepage/playlistgenerator.png' %}",
                "{% static 'homepage/playlistgenerator4.png' %}",
                "{% static 'homepage/playlistgenerator5.png' %}",
                "{% static 'homepage/playlistgenerator2.png' %}",
                "{% static 'homepage/playlistgenerator3.png' %}"
            ],
            "pomodoro": [
                "{% static 'homepage/pomodoro.png' %}",
                "{% static 'homepage/pomodoro2.png' %}",
                "{% static 'homepage/pomodoro3.png' %}",
                "{% static 'homepage/pomodoro4.png' %}",
                "{% static 'homepage/pomodoro5.png' %}"
            ],
            "crypt": [
                "{% static 'homepage/crypt.png' %}",
                "{% static 'homepage/crypt2.png' %}",
                "{% static 'homepage/crypt3.png' %}",
                "{% static 'homepage/crypt4.png' %}"
            ],
            "kognito": [
                "{% static 'homepage/kognito.png' %}",
                "{% static 'homepage/kognito2.png' %}",
                "{% static 'homepage/kognito3.png' %}",
                "{% static 'homepage/kognito4.png' %}"
            ],
            "pythonquiz": [
                "{% static 'homepage/pythonquizgame.png' %}",
                "{% static 'homepage/pythonquizgame2.png' %}",
                "{% static 'homepage/pythonquizgame3.png' %}",
                "{% static 'homepage/pythonquizgame4.png' %}"
            ]
        };

        function prevImage(button) {
            const container = button.parentNode;
            const img = container.querySelector('.carousel-image');
            const project = container.getAttribute('data-project');
            const imgArray = images[project];
            let currentIndex = imgArray.findIndex(src => img.src.endsWith(src));
            currentIndex = (currentIndex - 1 + imgArray.length) % imgArray.length;
            img.src = imgArray[currentIndex];
        }
    
        function nextImage(button) {
            const container = button.parentNode;
            const img = container.querySelector('.carousel-image');
            const project = container.getAttribute('data-project');
            const imgArray = images[project];
            let currentIndex = imgArray.findIndex(src => img.src.endsWith(src));
            currentIndex = (currentIndex + 1) % imgArray.length;
            img.src = imgArray[currentIndex];
        }
    </script>
{% endblock %}