{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Charlie Eikås{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'homepage/styles.css' %}">
        <script src="https://kit.fontawesome.com/e9186d1de5.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- SIDEBAR -->
        <div class="sidebar">
            <img src="{% static 'homepage/bilde.jpg' %}" alt="Picture of me" id="me">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/TheKingChu">GitHub <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://thekingcharlie.itch.io/">Itch.io <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/charlieeik%C3%A5s/">LinkedIn <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% static 'homepage/CV.pdf' %}" target="_blank">Resume <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                <hr>
                </li>
                <li class="nav-item">
                    <a href="mailto:eikascharlie@gmail.com">
                        <button id="contact-button">Contact Me <i class="fa-solid fa-envelope"></i></button>
                    </a>
                </li>
            </ul>
        </div>

        <!-- MAIN PAGE -->
        <div class="main-page">
            <a href="{% url 'index' %}">
                <button id="back-button"><i class="fa-solid fa-left-long"></i></button>
            </a>
            {% block gif %}
            <div class="project-header">
                <!-- Placeholder for GIF -->
            </div>
            {% endblock %}
            <div class="about-info-container">
                {% block about %}
                <div class="project-section">
                    <div class="about-box">
                        <h2>About</h2>
                        <!-- Placeholder for about section -->
                    </div>
                </div>
                {% endblock %}
                {% block project_info %}
                <div class="project-section">
                    <div class="info-box">
                        <h2>Project Info</h2>
                        <!-- Placeholder for project info section -->
                    </div>
                </div>
                {% endblock %}
            </div>
            {% block learnings %}
            <div class="learnings-section">
                <h2>What I Learned</h2>
                <!-- Placeholder for learnings section -->
            </div>
            {% endblock %}
        </div>

        <!-- 100% privacy-first analytics -->
        <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
        <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
    </body>
</html>